{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "html",
    "import"
  ],
  "extends": [
    "airbnb/base",
    "eslint-config-prettier"
  ],
  "rules": {
    "no-plusplus": "off",
    "no-console": "error"
  }
}
