html,
body {
  margin: 0;
  padding: 0;
  font-family: "sans-serif";
}

.box {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  padding: 24px 0;
}

.form__search {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #dfe1e5;
  border-radius: 6px;
  max-width: 600px;
  min-width: 480px;
  height: 45px;
  padding-left: 10px;
}

.list-item {
  display: flex;
}

.repositories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 24px;
}

.repositories__item {
  width: 200px;
  background: #F7F7FA;
  border-radius: 12px;
  padding: 12px 14px;
}

.list-item__btn-remove{
  background: rgba(0, 0, 0, 0);
  background-color: #007AFF;
  color: #fff;
  border-radius: 8px;
  border: 0;
  padding: 12px 16px;
}
